a {
    text-decoration: none;
    color: white;

    &:hover {

        color: rgb(197, 196, 196);
    }
}

header {
    background-color: black;
}

.header-warpper {
    background-color: black;
    max-width: 1200px;
    padding: 0 13px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .menu-icon {
        height: 48px;
        position: relative;
        width: 18px;

        li {
            border-bottom: 1px solid #fafafa;
            width: 20px;
            position: absolute;
            // Modify the origin of the transform
            transform-origin: top left;
            transition: 0.5s;

        }

        li:nth-child(1) {
            top: 18px;
        }

        li:nth-child(2) {
            top: 24px;
        }

        li:nth-child(3) {
            top: 30px;

        }

        &:active {
            li:nth-child(1) {
                // Rotate downwards
                transform: rotateZ(40deg);
            }

            li:nth-child(2) {
                // hidden
                opacity: 0;
            }

            // Rotate upwards
            li:nth-child(3) {
                transform: rotateZ(-40deg);
            }
        }
    }

    .top-left {

        &:active {

            //Show hidden menus
            .nav {
                display: block;
            }
        }

        .nav {
            display: none;
            background-color: black;
            position: absolute;
            top: 48px;
            left: 0;
            bottom: 0;
            right: 0;

            li {
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid #757474;
            }

            a {
                display: block;
                line-height: 44px;
                font-size: 14px;
            }

            &:last-child a {
                display: inline-block;
                margin-right: 6px;
            }

            span {
                color: #fff;
                font-size: 14px;
            }
        }

    }

    .logo {
        display: block;
        width: 122px;
        height: 32px;
        background-image: url('./../image/dff63979.sprites-index@2x.png');
        background-size: 400px 400px;
        background-position: top left;
    }

}

@media only screen {

    // big screen 
    @media (min-width: 768px) {
        .header-warpper {
            .top-left {
                order: 2;
                flex: auto;

                .menu-icon {
                    display: none;
                }

                .nav {
                    display: flex;
                    position: static;
                    padding: 0;
                    justify-content: space-around;

                    li {
                        width: auto;
                        border-bottom: none;
                        margin: 0;

                        a {
                            line-height: 48px;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

            .logo {
                order: 1;
            }

            .user-info {
                order: 3;
            }
        }

    }

}